# Werkzeug keeps breaking Flask!
Werkzeug

# Runtime dependencies
Flask
python-dotenv

# Runtime tools
gunicorn
honcho

# Code quality
pylint
flake8
black

# Testing dependencies
nose
pinocchio
coverage

# Utilities
httpie
